@import "css/mixins";

#chatAd{
  width:100px;
  height:100px;

}

#speaker{
  margin-left:675px;

}


#fullBanner {
  margin-left:12px;
  margin-top: 10px;
  width: 800px;
  height: 150px;
}

#message{
position:absolute;
float:right;
width:555px;
margin-left:110px;
margin-right:600px;
top:250px;

}


#messagePreview{
position:absolute;
float:right;
width:555px;
margin-left:110px;
margin-right:600px;
top:220px;

}

#messageLink{

float:right;

}

#embeddedVid{
display:none;
margin-left:140px;
margin-top:20px;


}

#rightArrow{
position:absolute;
text-size:2em;
margin-left:800px;
top:250px;


}

#leftArrow{
position:absolute;
text-size:2em;
top:250px;
margin-left:-20px;


}


#adMessage{
position:absolute;
margin-left:700px;
margin-top:-170px;

}




